*.suo
*.csproj.user
*.vcxproj.user
*.ReSharper.user
*.DotSettings.user
_ReSharper.*
*.sdf
*.opensdf
*.i.cs
*.cache
*.Cache
*.tlog
*.log
*.obj
*.pdb
*.nvuser
*.exp
*.orig
*.psess
*.vspx
*.shfbproj_*
*.dotCover
*.Ghostdoc.xml
*.sln.ide
StyleCop.Cache
Win32
Debug
Release
Win32Debug
Win32Release
x64Debug
x64Release
Debug_Expat
Release_Expat
Debug_static
Release_static
CodeAnalyst
UpgradeLog*
stride_doc_output
doc/doxygen/html
Temp/
bin/
Bin/
ipch/
obj/
.vs/
.vscode/
Cache/
**/Properties/launchSettings.json
*.CachedGlyphs
*.CachedImage
log
*.opendb
screenshots
samplesGenerated
deps/AssemblyProcessor
