*.suo
*.csproj.user
*.vcxproj.user
*.ReSharper.user
*.DotSettings.user
_ReSharper.*
*.sdf
*.opensdf
*.i.cs
*.cache
*.Cache
*.tlog
*.log
*.obj
*.pdb
*.nvuser
*.exp
*.orig
*.psess
*.vspx
*.shfbproj_*
*.dotCover
*.Ghostdoc.xml
*.sln.ide
StyleCop.Cache
Debug
Release
Win32Debug
Win32Release
Debug_Expat
Release_Expat
Debug_static
Release_static
CodeAnalyst
UpgradeLog*
stride_doc_output
doc/doxygen/html
Tools/bin
Temp/
bin/
Bin/
ipch/
obj/
.vs/
Cache/
/doc/stride_doc_output/
/build/Stride.version
/build/Stride.*VC.db
/tools
/externals/
/sources/common/externals/
/sources/tools/Stride.ShaderKeyGenerator/build/
/sources/tools/Stride.ProjectGenerator/build/
/sources/tools/SLConverter/BuildRelease/Package/SLConverter-*.pdf
/sources/tools/SLConverter/BuildRelease/Package/bin/x64/SLConverter.exe
/sources/tools/SLConverter/BuildRelease/Package/bin/x86/SLConverter.exe
/sources/tools/SLConverter/BuildRelease/Package/license.txt
/sources/tools/SLConverter/BuildRelease/Package/readme.txt
/sources/tools/SLConverter/BuildRelease/Package/sample_config.xml
/package/
/tools/
**/Properties/launchSettings.json
Win32
Win32Debug
*.CachedGlyphs
*.CachedImage
log
x64Debug
x64Release
*.opendb
screenshots
samplesGenerated
