<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="StrideDev Local" value="./bin/packages" />
    <add key="StrideDev Global" value="%LOCALAPPDATA%/Stride/NuGetDev" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- Look first in locally-built packages directory -->
    <packageSource key="StrideDev Local">
      <package pattern="Stride*" />
      <package pattern="Stride.*" />
    </packageSource>
    <packageSource key="StrideDev Global">
      <package pattern="Stride*" />
      <package pattern="Stride.*" />
    </packageSource>
    <!-- Fallback to NuGet for anything else -->
    <packageSource key="nuget.org">
      <package pattern="Stride*" />
      <package pattern="Stride.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
